[submodule "external/glm"]
	path = external/glm
	url = https://github.com/icaven/glm.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
